
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Open Sans';

}
nav ul{
    display: flex;
    list-style: none;
    height: 65px;
    background-color: black;
    color: azure;
}
nav ul li{
    padding: 16px 8px;
}
.brand img{
    width: 75px;
    padding: 0 8px ;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(./5373044-wallpaper-music-wallpapers-music-background-concert-guitar-music-stage-smoke-man-musician-person-male-adult-performance-guitarist-black-and-white-outdoor-singer-sing-play-free-images.jpg);

}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin-top: 20px;
}
.icons i{
    cursor: pointer;
}
#myProgress{
    width: 85vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 74px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;

}
.timestamp{
    margin: 0 23px;
    
}
.timestamp i{
    cursor:pointer ;
}
.songInfo{
    position: absolute;
    
    left: 10vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}